[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
plotly = "*"
jupyter = "*"
jupyterlab = "*"
ipywidgets = "*"
spacy = "*"
pyspark = "*"
jupyterlab-gruvbox-dark = "*"
flake8 = "*"
jupyterlab-flake8 = "*"
python-lsp-server = {extras = ["all"], version = "*"}
jupyterlab-lsp = "*"
shap = "*"
influxdb-client = "*"
statsmodels = "*"
bambi = "*"
xgboost = "*"
jedi = "*"
textblob = "*"
hdbscan = "*"
sentence-transformers = "*"
umap-learn = "*"
scikit-survival = "*"
vectordb = "*"
transformers = "*"
accelerate = "*"
safetensors = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
diffusers = {git = "git+https://github.com/huggingface/diffusers"}

[dev-packages]

[requires]
python_version = "3.11"
