[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
plotly = "*"
jupyter = "*"
jupyterlab = "*"
ipywidgets = "*"
spacy = "*"
pyspark = "*"

[dev-packages]

[requires]
python_version = "3.11"
