[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
plotly = "*"
jupyter = "*"
jupyterlab = "==4.*"
ipywidgets = "*"
spacy = "*"
pyspark = "*"
flake8 = "*"
python-lsp-server = {extras = ["all"] }
shap = "*"
influxdb-client = "*"
statsmodels = "*"
bambi = "*"
xgboost = "*"
textblob = "*"
sentence-transformers = "*"
umap-learn = "*"
scikit-survival = "*"
vectordb = "*"
transformers = "*"
accelerate = "*"
safetensors = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
dash = "*"
dash-bootstrap-components = "*"
openpyxl = "*"
clusteval = "*"
openai = "*"
distfit = "*"
tqdm = "*"
neopyter = "*"
kaleido = "*"
youtube-transcript-api = "*"
debugpy = "*"
ruff = "*"

[dev-packages]

[requires]
python_version = "3.11"
